body{
    background: url(../Betty-Profile/img/bg-hero-desktop.svg);
    font-family: 'Oxygen', sans-serif;
}

.box1{
    display: grid;
    grid-template-columns: 40% 60%;
    margin: 3% auto 0 auto;
    width: 95%;  
}

.box2{
    display: grid;
    grid-template-columns: 40% 60%;
}

.grow{
    margin-top: 2%;
}

img{
    height: 85vh;
    width: 400px;
    margin: auto;
    justify-content: center;
    border-radius: 10%;
}

header{
    display: inline;
    padding: 2% auto;
}

header .every {
        float: left;
        padding-top: -5px;
        font-weight: bold;
        font-family: 'Poppins', sans-serif;
}

header nav{
    float: right;
    margin-top: 10px;
}

h1, h2{
    text-align: center;
}

.every{
    text-align: left;
}

h2{
    margin-top: 8%;
}

.bio{
    line-height: 2;
    list-style: none;
    margin-bottom: 1%;
}

.texts{
    line-height: 2;
}

.item{
    font-weight: 900;
    line-height: 4;
}

.item2{
    margin: 15% auto;
    font-size: 20px;
}

.item1{
    margin-top: 8%;
}

.itemb{
    border-bottom: 2px solid teal;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 10px 100px;
    text-decoration: underline;
}

.contact{
    /*border: 2px solid black;*/
}

.task{
    line-height: 3;
    margin-left: 5%;
    margin-bottom: 1%;
}

button{
margin: 2% 0;
background-color: teal;
padding: 5px 30px;
text-align: center;
}

button:hover{
    background-color: #222222;
    color: white;
}

footer{
    background-color: #cccccc;
    margin-top: 5%;
    height: 15;
    width: 100vw;
}

.icon{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 10%;
}

.fb, .tw, .insta{
    margin: 10% auto;
    height: 50px;
}

.address{
    text-align: center;
    justify-content: center;
    float: center;
    align-content: center;
}

@media all and (max-width: 400px) {
   img .slack{
        display: none;
    }
    .box1, .box2{
        display: inline-block;
    }
    .picture{
        height: 75vh;
        width: 90vw;
        margin: 0 auto;
        border-radius: 8%;
    }
    .texts{
        text-align: center;
        line-height: 2;
    }

    .icon{
        margin-top: 5%;
    }
    .fb, .tw, .insta{
      grid-gap: 10px;
      margin: 0 0 -10px -10px;
    }

   
}